.navbar{
  display:flex;
  align-items: center;
  justify-content: space-around;
  background: gray;
  color: white;
  min-height: 10vh;
}

.App {
  text-align: center;
}

.nav-list{
  display: flex;
  align-items: center;
  list-style: none;
  width:40%;
  justify-content: space-around;
}

.link{
  color: white;
}